.topHeader{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2874f0;
    font-family: Roboto, Arial, sans-serif;
    z-index: 999;
}

.order-form{
    background-color: #FFF;
    margin-top: 20px;
    margin-left: 60px;
    padding: 14px;
}

.address-box{
    padding: 10px 74px 10px 14px;
    margin: 20px 10px;
    border: 1px solid #e4e4e4;
}

.address-box_1{
    padding: 4px 20px 4px 2px;
    margin: 20px 10px;
    border: 1px solid #e4e4e4;
}

.address-box:focus{
    outline: none;
    border: 1px solid #2874f0;
}
.address-box_1:focus{
    outline: none;
    border: 1px solid #2874f0;
}